<div class="container mt-3">

<h4>Delivery Address</h4>

<div class="card p-3 mt-3">

<input class="form-control mb-3" placeholder="Full Name" required>

<input class="form-control mb-3" placeholder="Mobile Number" required>

<input class="form-control mb-3" placeholder="Street Address" required>

<input class="form-control mb-3" placeholder="City" required>

<input class="form-control mb-3" placeholder="Pincode" required>

<button class="btn btn-warning w-100" routerLink="/payment">
Continue to Payment
</button>

</div>

</div>