.food-card{
border-radius:12px;
overflow:hidden;
transition:0.2s;
}

.food-card:hover{
transform:scale(1.02);
}

.food-img{
width:100%;
height:180px;
object-fit:cover;
}

.restaurant-name{
font-size:13px;
color:gray;
margin-bottom:8px;
}

.price{
font-weight:600;
font-size:15px;
}

.image-container{
position:relative;
}
.veg-icon{
position:absolute;
top:8px;
left:8px;
width:18px;
height:18px;
border:2px solid green;
background:white;
}

.veg-icon::after{
content:"";
display:block;
width:8px;
height:8px;
background:green;
border-radius:50%;
margin:3px auto;
}

.nonveg-icon{
position:absolute;
top:8px;
left:8px;
width:18px;
height:18px;
border:2px solid red;
background:white;
}

.nonveg-icon::after{
content:"";
display:block;
width:8px;
height:8px;
background:red;
border-radius:50%;
margin:3px auto;
}