<div class="container mt-3">

<h4>Select Payment Method</h4>

<div class="card p-3 mt-3">

<div class="form-check">
<input class="form-check-input" type="radio" name="payment">
<label class="form-check-label">
Cash on Delivery
</label>
</div>

<div class="form-check">
<input class="form-check-input" type="radio" name="payment">
<label class="form-check-label">
UPI
</label>
</div>

<div class="form-check">
<input class="form-check-input" type="radio" name="payment">
<label class="form-check-label">
Credit / Debit Card
</label>
</div>

<button class="btn btn-success w-100 mt-3"
(click)="placeOrder()">
Place Order
</button>

</div>

</div>